<!DOCTYPE html>
<html lang="en">
<head>
	{% include "utilities/head.html" %}
	<title>Home - vontor.cz</title>


	{% if extra_css_list %}
        {% for css_file in extra_css_list %}
            <link rel="stylesheet" type="text/css" href="{% static css_file %}">
        {% endfor %}
    {% endif %}
</head>
<body>
	{% include "home/components/carousel.html" %}


	{% include "app_name/template1.html" with extra_css_list="['app_name/css/extra1.css', 'app_name/css/extra2.css']" %}
	{% include "app_name/template2.html" with extra_css_list="['app_name/css/extra3.css']" %}
</body>
</html>