{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	{% include "utilities/head.html" %}
	<title>Home - vontor.cz</title>


	<link rel="stylesheet" href="{% static "home/css/components/carousel.css" %}">
	<link rel="stylesheet" href="{% static "home/css/index.css" %}">
</head>
<body>
	
	
	{% include "home/components/carousel.html" %}
	<span id="nav-trigger-fixed-element"></span>
	{% include "utilities/nav.html" %}
	
	<!-- include "app_name/template2.html" with extra_css_list="['app_name/css/extra3.css']" -->
	<img src="https://picsum.photos/2000/2000" alt="">
	<img src="https://picsum.photos/200/300" alt="">
	<img src="https://picsum.photos/200/300" alt="">
	<img src="https://picsum.photos/200/300" alt="">
	<img src="https://picsum.photos/200/300" alt="">
</body>
</html>