{% load static %}
<div class="windows-98 chat">
	<div class="warning"></div>
	<div class="window" style="margin: 32px; width: 40%">
		<div class="title-bar">
			<div class="title-bar-text">
				AnonChat
			</div>
		</div>

		<div class="window-body">
			<div class="sunken-panel">
				<table class="interactive">
					<thead>
						<tr>
							<th>Date</th>
							<th>Message</th>
						</tr>
					</thead>
					<tbody id="messages">
						{% for message in last_messages %}
							<tr>
								<td>{{message.time}}</td>
								<td>{{message.text}}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>

			<div class="message-box">
				<input placeholder="what's up?..." type="text" name="anon-message" id="anon-message"><button id="send-anon-message" type="submit">Send</button>
			</div>

			<fieldset id="error-chat" class="hidden">
				<legend>
					You lost connection!
				</legend>
				<img src="{% static 'img/errors/error_icon.png' %}" alt="error icon">
				<button id="reconnect">reconnect</button>
			</fieldset>
		</div>
	</div>
	

	<script src="{% static '/home/js/anon-chat.js' %}"></script>
</div>