{% load static %}
<div class="drone">

	<video id="drone-video" data-static="{% static '' %}" class="video-background" autoplay muted loop playsinline>
		<source  id="video-source" src="/static/home/video/drone-background-video-480p.mp4" type="video/mp4">
		Your browser does not support video.
	</video>

	<article>
		<header>
			<h1>Letecké záběry dronem!</h1>
		</header>

		<main>
			<section>
				Opravnění

				A1, A2, A3 a průkaz na vysílačku!

				Mohu garantovat bezpečný provoz dronu i ve složitějších podmínkách. Mám také možnost žádat o povolení k letu v blízkosti letišť!
				
			</section>
			<section>
				Cena

				Nabízím letecké záběry dronem za cenu <u>3 000 Kč</u>.

				Pokud se nacházíte v Ostravě, doprava je zdarma. Pro oblasti mimo Ostravu účtuji 10 Kč/km.

				Cena se může odvíjet ještě podle složitosti získaní povolení.*
			</section>
			<section>
				Finalní produkt

				Rád Vám připravím jednoduchý sestřih videa, který můžete rychle použít, nebo Vám mohu poskytnout samotné záběry k vlastní editaci. <br>
			
			</section>
			<section>
				V případě zájmu mě neváhejte <a href="#contacts">kontaktovat</a>!
			</section>
			
		</main>
		
	</article>
	<script src="{% static 'home/js/drone.js' %}"></script>
</div>