<footer id="contacts">
	<div class="logo">
		<h1>vontor.cz</h1>
	</div>
	<address>
		Written by <b>David Bruno Vontor</b><br>
		<p>Tel.: <a href="tel:+420 605 512 624"><u>+420 605 512 624</u></a></p>
		<p>E-mail: <a href="mailto:brunovontor@gmail.com"><u>brunovontor@gmail.com</u></a></p>
		<p>IČO: <a href="https://www.rzp.cz/verejne-udaje/cs/udaje/vyber-subjektu;ico=21613109;"><u>21613109</u></a></p>
	</address>
	<div class="contacts">
		<a href="https://github.com/Brunobrno">
			<i class="fa fa-github"></i>
		</a>
		<a href="https://www.instagram.com/brunovontor/">
			<i class="fa fa-instagram"></i>
		</a>
		<a href="https://twitter.com/BVontor">
			<i class="fa-brands fa-x-twitter"></i>
		</a>
		<a href="https://steamcommunity.com/id/Brunobrno/">
			<i class="fa-brands fa-steam"></i>
		</a>
		<a href="www.youtube.com/@brunovontor">
			<i class="fa-brands fa-youtube"></i>
		</a>
	</div>
</footer>