<div class="introduction">
    <article>
        <header>
            <h2>Co je zde?</h2>
        </header>
        <main>
            Tato stránka slouží k prezentaci mých projektů, služeb a portfolia.
        </main>
    </article>

    <article>
        <header>
            <h2>Lore stránky</h2>
        </header>
        <main>
            Měl jsem několik verzí této stránky. Pravda je, že ji vytvářím už po čtvrté, ale pokaždé se zlepšuji, hlavně v backendu, který mě baví nejvíc. <br>
            Pracuji s Djangem, mým nejoblíbenějším backendovým frameworkem, a učím se Debian, kde postupně přesouvám databázi, objektový storage a nakonec i moje Django aplikace. <br>
            Bohužel kvůli omezením doma nemohu mít statickou IP adresu. Máme firemní router, kde nemohu nastavit dynamické VPN a povolovat porty. <br>
            Tento problém jsem vyřešil pomocí služby Tailscale. Doma mám Raspberry Pi s Debianem, kde hostuji databázi a mám připojení do své VPN sítě. <br>
            Django provozuji v Dockeru, kde v docker-compose nastavím připojení na VPN. Díky tomu může moje Django běžet kdekoliv, protože se připojí na VPN a používá Raspberry Pi doma. <br>
            Tento tunneling skrz VPN mi umožňuje obcházet restrikce mého routeru a neřešit statickou IP adresu. Django běží na DigitalOcean, kde mám i uložené DNS záznamy.
        </main>
    </article>

    <article>
        <header>
            <h2>Co dále?</h2>
        </header>
        <main>
            V minulosti jsem měl problém, že jsem dělal hodně věcí najednou, i když jsem o nich neměl dostatek znalostí. <br>
            Měl jsem napsané několik A4 stránek s nápady a v minulosti jsem měl na stránce menší sociální síť a spoustu dalších aplikací, které jsem bohužel nedotáhl do konce, protože jsem neodhadl jejich komplexnost. <br>
            Po nějaké době jsem začal zpomalovat, protože jsem trávil příliš času na jednom projektu a začal jsem být demotivovaný. <br>
            Měl jsem "burnout" z tohoto projektu. Po čtyřech měsících jsem začal znovu (už po čtvrté) a vytvořil jsem si nový plán. <br>
            Tentokrát jsem se rozhodl nedělat příliš mnoho plánů, abych se necítil, že nic nezvládám. Neříkám, že mít plán je špatné, ale nechtěl jsem si dávat příliš mnoho úkolů najednou. <br>
            Rozhodl jsem se stránku udělat znovu, abych měl správně roztříděné soubory a zbavil se duplicity v kódu. Už jsem měl v tom zmatek, a teď jsem rád, že jsem to udělal, protože se mi teď pracuje mnohem lépe. <br>
            V budoucnu bych chtěl vytvořit sociální síť, ale dám si na čas a vše udělám v klidu.
        </main>
    </article>
</div>
