<div class="introduction">
    <article>
        <header>
            <h2>Nadpis - skibidy hawk tuah</h2>
        </header>
        <main>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent id justo in neque elementum ultrices. Fusce consectetuer risus a nunc. Aliquam id dolor. Integer malesuada. Integer vulputate sem a nibh rutrum consequat. Duis viverra diam non justo.
        </main>
    </article>

    <article>
        <header>
            <h2>Nadpis - skibidy hawk tuah</h2>
        </header>
        <main>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent id justo in neque elementum ultrices. Fusce consectetuer risus a nunc. Aliquam id dolor. Integer malesuada. Integer vulputate sem a nibh rutrum consequat. Duis viverra diam non justo.
        </main>
    </article>

    <article>
        <header>
            <h2>Nadpis - skibidy hawk tuah</h2>
            <main>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent id justo in neque elementum ultrices. Fusce consectetuer risus a nunc. Aliquam id dolor. Integer malesuada. Integer vulputate sem a nibh rutrum consequat. Duis viverra diam non justo.
            </main>
        </header>
    </article>
</div>