<div class="projects" id="projects">
    <header>
        <h1>Pordfolio</h1>
    </header>
    
    <div>
        <article>
            <header>
                <a href="https://davo1.cz"><h1>Davo1.cz</h1></a>
            </header>
            <main>
                Web na prezentaci firmy a jejich služeb.
            </main>
            <div class="shine"></div>
        </article>
        <article>
            <header>
                <a href="https://perlica.cz"><h1>perlica.cz</h1></a>
            </header>
            <main>
                Malý E-shop pro prodej svíček.
            </main>
            <div class="shine"></div>
        </article>
    </div>
    
</div>
