<div class="projects">
    <header>
        <h1>Projekty</h1>
    </header>
    
    <div>
        <article>
            <header>
                <h1>Historie technologie</h1>
            </header>
            <main>
                Od počátku lidstva až po současnost nás technologie provázela, měnila náš život a způsoby práce.
            </main>
            <div class="shine"></div>
            
        </article>
        
        <article>
            <header>
                <h1>Průmyslová revoluce</h1>
            </header>
            <main>
                18. a 19. století přineslo obrovské změny v podobě mechanizace a výroby na pásu.
            </main>
        </article>
        <article>
            <header>
                <h1>Digitální věk</h1>
            </header>
            <main>
                20. století přineslo počítače, internet a komunikační technologie, které propojují svět.
            </main>
        </article>
        
        <article>
            <header>
                <h1>Budoucnost inovací</h1>
            </header>
            <main>
                Umělá inteligence, robotika a další technologie formují svět zítřka.
            </main>
        </article>
    </div>
    
</div>
