<div class="projects" id="services">
	<header>
			<h1>Services</h1>
	</header>
	
	<div>
			<article>
					<header>
							<h1>Webové aplikace</h1>
					</header>
					<main>
						Tvorba weboých aplikacích, skrz framework Django. <br>
						Řešení databáze a hostingu.<br>
						Správa domén a SSL certifikátů.<br>
						Použítí moderních technologií.<br>
						Práce s API a IoT.
					</main>
			</article>
			<article>
					<header>
							<h1>Úprava webu</h1>
					</header>
					<main>
						Upravím váš statický stávající web.
					</main>
			</article>
			<article>
				<header>
						<h1>Letecké snímky z dronů</h1>
				</header>
				<main>
				</main>
		</article>
	</div>
	
</div>
