<div class="projects" id="services">
	<header>
			<h1>Services</h1>
	</header>
	
	<div>
			<article>
					<header>
							<h1>Webové aplikace</h1>
					</header>
					<main>
							18. a 19. století přineslo obrovské změny v podobě mechanizace a výroby na pásu.
					</main>
			</article>
			<article>
					<header>
							<h1>Upravá webu</h1>
					</header>
					<main>
							20. století přineslo počítače, internet a komunikační technologie, které propojují svět.
					</main>
			</article>
	</div>
	
</div>
