.chat{
    width: 100%;
}
.chat .warning{
    background-color: red;
    color: white;
}
.chat .message-box{
    border-radius: 1em;
    padding: 1em;
    display: flex;
    gap: 1em;
    justify-content: flex-start;
}
.chat .message-box input{
    width: 40ch;
}
.chat .sunken-panel{
    min-height: 35ch;
}
.chat fieldset{
    display: flex;

    width: min-content;
    align-items: center;
}
.chat .hidden{
    display: none !important;
}
.chat fieldset img{
    width: 5em;
}

@media only screen and (max-width: 990px) {
    .chat .window{
        width: 100% !important;
    }
}