.introduction{
    display: flex;
    flex-direction: column;

    color: white;
    padding: 10em;
    gap: 3em;
}
.introduction article{
    width: 50ch;
    background-color: cadetblue;

    padding: 2em;
    border-radius: 1em;
}

.introduction article header{
    
}

.introduction article:nth-child(1){
    transform: rotate(5deg);
    align-self: flex-start;
}
.introduction article:nth-child(2){
    transform: rotate(3deg);
    align-self: flex-end;
}
.introduction article:nth-child(3){
    transform: rotate(-2deg);
    align-self: flex-start;
}