.projects article{
    margin: 2rem auto;
    padding: 2em;
    width: 45%;
    

    border: 1px solid #d0d7de; /* Jemná šedá barva */
    border-radius: 6px; /* Kulaté rohy */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); /* Decentní stín */
    padding: 16px; /* Vnitřní odsazení */
    background-color: #f6f8fa; /* Bílé pozadí */
}
.projects > header{
  text-align: center;
  text-decoration: underline;

  font-size: 2em;
  color: white;
}
.projects div{
  display: grid;
  grid-template:auto / auto auto;
}
.projects a{
  color: black;
}